<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card p-4">
                <h1 class="text-center mb-2 text-white">Forgot Password</h1>
            <form [formGroup]="ForgotPassword" (ngSubmit)="forgotPwd()">
                <div class="form-group">
                    <label for="e" class=" mt-4 text-white mx-4"><h4>Email ID: </h4></label>
                    <input type="email" name="email" class="mx-3" formControlName="email" id="e" size="44" placeholder="Enter email address..." autocomplete="on" autofocus="on"><br>
                    <small *ngIf="ForgotPassword.get('email')?.invalid && ForgotPassword.get('email')?.touched">Enter valid email address...</small>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary border border-primary mt-4 mx-4 mb-3 px-5 rounded-5 fw-semibold" [disabled]="ForgotPassword.invalid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>